@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import "tailwindcss";

@theme {
  --color-primary: #2E7D32;
  --color-secondary: #1565C0;
  --color-bg-light: #f7f9fb;
  
  --font-sans: "Pretendard", "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-white text-slate-900 text-lg leading-relaxed;
  }
}
